<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>The relative PATH to the files</description>
        <param-name>FILES_PATH</param-name>
        <param-value>files/</param-value>
    </context-param>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.minervabay.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>catalogacaoServlet</servlet-name>
        <servlet-class>com.minervabay.servlet.catalogacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaServlet</servlet-name>
        <servlet-class>com.minervabay.servlet.buscaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirServlet</servlet-name>
        <servlet-class>com.minervabay.servlet.excluirServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adicionarServlet</servlet-name>
        <servlet-class>com.minervabay.servlet.adicionarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>novoComentarioServlet</servlet-name>
        <servlet-class>com.minervabay.servlet.novoComentarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>arquivoServlet</servlet-name>
        <servlet-class>com.minervabay.servlet.arquivoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>abrirArquivoServlet</servlet-name>
        <servlet-class>com.minervabay.servlet.abrirArquivoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>catalogacaoServlet</servlet-name>
        <url-pattern>/catalogacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaServlet</servlet-name>
        <url-pattern>/buscaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirServlet</servlet-name>
        <url-pattern>/excluirServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adicionarServlet</servlet-name>
        <url-pattern>/adicionarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novoComentarioServlet</servlet-name>
        <url-pattern>/novoComentarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>arquivoServlet</servlet-name>
        <url-pattern>/arquivoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>abrirArquivoServlet</servlet-name>
        <url-pattern>/abrirArquivoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/bibliopdf</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
